*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Segoe";
  src: url("../font/Segoe\ UI.ttf") format("TrueType");
}
li {
  list-style-type: none;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: "Segoe";
}

:root {
  --red: #e34c26;
  --white: #fff;
  --black: #000;
  --yellow: #f1e05a;
  --purple: #c6538c;
  --violet: #543c78;
  --blue: #0366d6;
  --green: #89e051;
  --gray: #586069;
  --border-gray: #e1e4e8;
  --dark: #24292e;
  --dark-gray: #586069;
  --lav: #eaecef;
}
nav {
  width: 100%;
  height: 50px;
  background: var(--black);
}
.repos_header {
  width: 100%;
  border-bottom: 1px solid var(--lav);
  height: 56px;
  position: sticky;
  margin: 24px 0;
  top: 0;
  background: var(--white);
}

.repos_header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 10px;
}
.repos_header .repo_profile {
  display: flex;
  visibility: hidden;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform-origin: top;
}

.repo_active {
  visibility: visible !important;
  opacity: 1 !important;
  transform: scale(1) !important;
  -webkit-transform: scale(1) !important;
  -moz-transform: scale(1) !important;
  -ms-transform: scale(1) !important;
  -o-transform: scale(1) !important;
}
.repos_header .repo_profile img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.repos_header .repo_profile h1 {
  font-size: 14px;
  font-weight: 600;
  color: var(--dark);
  margin: 0 8px;
}
.repos_header .header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  max-width: 500px;
}

.repos_header .header ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 170px;
  width: 100%;
  height: 56px;
}
main {
  width: 100%;
  max-width: 1200px;
  min-height: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px auto;
  grid-gap: 10px;
  padding: 10px 24px;
}
main .profile {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
  min-height: 500px;
}

.profile .profile_image {
  width: 280px;
  height: 280px;
  margin: 10px 0;
}
.profile .profile_image img {
  width: 280px;
  height: 280px;

  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile .name {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-width: 300px;
  min-height: 100px;
}
.profile .name h1 {
  font-size: 26px;
  font-weight: 600;
  color: var(--dark);
}
.profile .name h3 {
  font-size: 20px;
  font-weight: 300;
  color: var(--dark-gray);
  margin: 4px 0;
}
.profile .name p {
  font-size: 16px;
  font-weight: 300;
  color: var(--dark);
  margin: 16px 0;
}
footer {
  width: 100%;
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 24px auto;
}

footer .border {
  height: 1px;
  width: 100%;
  background: var(--border-gray);
  margin: 0 0 24px 0;
}

footer .container {
  width: 100%;

  font-weight: 400;

  display: grid;
  /* justify-items: center; */
  align-items: center;
  grid-template-columns: 2fr 100px 2fr;
  border-top: 1x solid var(--gray);
  font-size: 12px;
}
footer .col {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer .col .date {
  margin: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .col .copy {
  margin: 0 8px 0 0;
  color: var(--gray);
  flex: 0 0 25%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .col .links {
  width: 100%;
  flex: 1;
  margin: 0 8px;
}
footer .col .links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .col .links ul li {
  cursor: pointer;
  color: var(--blue);
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
footer .col .links ul li:hover {
  text-decoration: underline;
}
footer .col .links ul li:focus {
  text-decoration: underline;
}
footer .col_2 .links ul {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
}

footer .col_2 .links ul li {
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  cursor: pointer;
  color: var(--blue);
}
footer .col_2 .links ul li:hover {
  text-decoration: underline;
}

footer .col_2 .links ul li:focus {
  text-decoration: underline;
}

footer .logo {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .logo svg {
  width: 24px;
  height: 24px;
}

footer .logo svg path {
  fill: #d1d5da;
  transition: 0.3s ease-in;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
}
footer .logo svg:hover path {
  fill: var(--black);
  opacity: 0.8;
}

footer .logo svg:focus {
  fill: var(--black);
  opacity: 0.8;
}

@media only screen and (max-width: 800px) {
  footer .logo {
    display: none;
  }

  footer .container {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    padding: 20px;
    grid-auto-rows: minmax(20px, auto);
    justify-items: center;
    font-size: 10px;
  }
  footer .col {
    justify-content: center;
    max-width: 400px;
    padding: 10px;

    width: 100%;
  }
  footer .col .copy {
    margin: 0 8px 0 0;
    color: var(--gray);
    flex: 0 0 40%;
  }
  footer .col .links ul {
    justify-content: center;
  }
  footer .col .links ul li {
    margin: 0 8px;
  }
  footer .col_2 {
    max-width: 400px;
    width: 100%;
  }
  footer .col_2 .links ul {
    justify-content: center;
  }
  footer .col_2 .links ul li {
    margin: 0 8px;
  }

  main {
    grid-template-columns: 280px auto;
  }
  .profile .profile_image {
    width: 250px;
    height: 250px;
  }
  .profile .profile_image img {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (max-width: 750px) {
  main {
    grid-template-columns: repeat(1, 1fr);
  }
  .repos_header {
    display: none;
  }
  main .profile {
    width: 100%;
    flex-direction: row;
    max-width: 700px;
    min-height: 200px;
  }
  .profile .profile_image {
    width: 30%;
    height: auto;
    flex: 0 0 30%;
  }
  .profile .profile_image img {
    width: 80%;
    height: auto;
  }
  .profile .name {
    flex: 1;
    justify-content: center;
  }
  .profile .name p {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  footer .col .copy {
    margin: 0 8px 0 0;
    color: var(--gray);
    flex: 0 0 30%;
  }
}
